@model Badass.Core.Areas.Admin.ViewModels.PostFileViewModel

@{
    ViewData["Title"] = "Create";
}
@section Link{
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
}

<div class="card shadow m-4 col-md-9 px-0">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Post</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive row">
            <div class="col-md-12">
                <form enctype="multipart/form-data" id="target" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PostTypeId  " class="control-label"></label>
                        <select asp-for="PostTypeId" class="form-control" asp-items="ViewBag.PostTypeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <textarea asp-for="Body" cols="80" id="editor1" rows="10" data-sample-short>&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href=&quot;https://ckeditor.com/&quot;&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    
                     <label asp-for="Photo" class="control-label"></label>
                    <div class="custom-file mb-4">
                        <input asp-for="Photo" class="custom-file-input" />
                        <label asp-for="Photo" class="custom-file-label">Chose A File....</label>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var FileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(FileName);
        });
    });
   
     CKEDITOR.replace('editor1', {
      height: 250
    });

</script>
}
