
@{
    ViewData["Title"] = "Error";
}

<div class="row" style="height:90vh">
    <div class="m-auto text-center">
        <h1 class="text-danger ">@ViewBag.MessageError </h1>
        <a class="mt-5 btn btn-primary" asp-action="Index" asp-controller="Home">Go Back</a>
    </div>
</div>