

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="~/images/faces/face28.jpg" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="ti-settings text-primary"></i>
                    Profile
                </a>
                
                <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="ti-power-off text-primary"></i>
                        <button type="submit" class="btn btn-link btn-sm p-0">Logout</button>
                    </form>
            </div>
          
        }
        else
        {
            
        }
    </ul>
